<div class="auth-wrapper">
    <div class="auth-card">
        <div *ngIf="step === 1">
            <div class="auth-header">
                <h2 class="heading">Enter Email</h2>
                <p class="subheading">You will receive an OTP</p>
            </div>
            <input class="input input-group" type="email" placeholder="johndoe@email.com" [formControl] = "email">
            <button class="btn btn-primary" (click)="sendOtp()" [disabled]="email.invalid">Send OTP</button>
        </div>

       <div *ngIf="step === 2">
            <div class="auth-header">
                <h2 class="heading">Enter OTP</h2>
                <p class="subheading">Verify OTP to make new Password</p>
            </div>
            <input class="input input-group" type="number" inputmode="numeric" placeholder="0000" [formControl] = "otpField">
            <button class="btn btn-primary" (click)="verifyOTP()" [disabled]="otpField.invalid">Verify OTP</button>
        </div>
    </div>
</div>