<div class="section-card">
    <div class="sc-head">
        <div class="sc-title">Change Password</div>
    </div>

    <form [formGroup]="pwForm" (ngSubmit)="onSubmit()">
        <div class="pw-group">

            <div class="fg">
                <label class="lbl">Current Password</label>
                <div class="pw-wrap">
                    <input class="inp"formControlName="currentPassword"
                        placeholder="Enter current password">
                    <!-- <button class="pw-toggle" type="button" (click)="show.current = !show.current"> -->
                        <!-- eye svg -->
                    <!-- </button>[type]="show.current ? 'text' : 'password'" -->
                </div>
                <!-- <span class="form-error" *ngIf="f['currentPassword'].touched && f['currentPassword'].invalid"> -->
                <!-- Required
                </span> -->
            </div>

            <div class="fg">
                <label class="lbl">New Password</label>
                <div class="pw-wrap">
                    <input class="inp"  formControlName="newPassword"
                        placeholder="Min 6 characters">
                    <!-- <button class="pw-toggle" type="button" (click)="show.newPw = !show.newPw"> -->
                        <!-- eye svg -->
                    <!-- </button>[type]="show.newPw ? 'text' : 'password'" -->
                </div>
                <div class="pw-hint">Use at least 6 characters with a mix of letters and numbers.</div>
                <!-- <span class="form-error" *ngIf="f['newPassword'].touched && f['newPassword'].invalid"> -->
                <!-- Min 6 characters required
                </span> -->
            </div>

            <div class="fg">
                <label class="lbl">Confirm New Password</label>
                <div class="pw-wrap">
                    <input class="inp" formControlName="confirmPassword"
                        placeholder="Re-enter new password">
                    <!-- <button class="pw-toggle" type="button" (click)="show.confirm = !show.confirm"> -->
                        <!-- eye svg -->
                    <!-- </button>[type]="show.confirm ? 'text' : 'password'" -->
                </div>
                <!-- <span class="form-error" *ngIf="pwForm.errors?.['mismatch'] && f['confirmPassword'].touched">
                    Passwords do not match
                </span> -->
            </div>

        </div>

        <button class="save-pw-btn" type="submit" [disabled]="pwForm.invalid">
            Update Password
        </button>
    </form>
</div>